<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="U-XA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="//script.crazyegg.com/pages/scripts/0111/2404.js"
      async="async"
    ></script>
    <title>Blaze Smith | Web Designer</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/script.js" defer></script>
  </head>
  <!-- BODY START -->
  <body>
    <header>
      <nav class="navbar">
        <h1 class="name-title" id="nameLogo">
          <a href="#contact">OSWD Portfolio</a>
        </h1>
        <a class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a class="nav-anchors" href="#home">Home</a></li>
            <li><a class="nav-anchors" href="#skills">Skills</a></li>
            <li><a class="nav-anchors" href="#projects">Projects</a></li>
            <li><a class="nav-anchors" href="#resume">Resume</a></li>
            <li><a class="nav-anchors" href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- HOME START -->
    <main class="bodyContainer" id="home">
      <article class="homeMain">
        <article class="homeArticle1">
          <p>Hello! I'm <strong>Blaze</strong></p>
        </article>
        <aside class="home-img-container">
          <img
            src="images/homePic.png"
            alt=""
            aria-describedby="home-description"
          />
        </aside>
        <article class="homeArticle2">
          <p id="home-description">
            I currently am obtaining my degree in <br />
            <strong>Web Design</strong> at
            <strong id="ntc-text">Northcentral Technical College</strong>
          </p>
        </article>
        <div class="break"></div>
        <div class="homeButtonContainer">
          <a class="contactBtn" href="#contact">
            <p>Contact Me</p>
          </a>
        </div>
      </article>
    </main>
    <!-- HOME END -->
    <div class="seperatorContainer">
      <section class="seperator" id="skills"><h2>Skills</h2></section>
    </div>
    <!-- SKILLS START -->
    <div class="bodyContainer">
      <main class="skillsMain">
        <figure class="skills">
          <img src="images/skills/html.svg" alt="HTML 5" />
          <figcaption class="skills-caption">HTML 5</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/css.svg" alt="CSS" />
          <figcaption class="skills-caption">CSS</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/js.svg" alt="JavaScript" />
          <figcaption class="skills-caption">JavaScript</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/nodeJS.svg" alt="NodeJS" />
          <figcaption class="skills-caption">NodeJS</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/mySQL.svg" alt="MySQL" />
          <figcaption class="skills-caption">MySQL</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/git.svg" alt="git" />
          <figcaption class="skills-caption">Git</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/bootstrap.svg" alt="Bootstrap" />
          <figcaption class="skills-caption">Bootstrap</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/cSharp.svg" alt="C Sharp" />
          <figcaption class="skills-caption">C#</figcaption>
        </figure>
        <figure class="skills">
          <img src="images/skills/mySQL.svg" alt="MySQL" />
          <figcaption class="skills-caption">MySQL</figcaption>
        </figure>
      </main>
    </div>
    <!-- SKILLS END -->
    <div class="seperatorContainer">
      <section class="seperator" id="projects"><h2>Projects</h2></section>
    </div>
    <!-- PROJECTS START -->
    <main class="bodyContainer">
      <article class="projectsMain">
        <aside class="projectsAside">
          <img
            class="projectImgs"
            src="gifs/stapledHills.gif"
            alt="Clothing Brands"
            aria-labelledby="brand-label"
            aria-describedby="brand-desc"
          />
          <h1 id="brand-label">INFST + Stapled Hills</h1>
          <a class="completed" href="https://stapledhills.com/" target="_blank">
            <p>Completed</p>
            <svg
              width="25"
              height="25"
              viewBox="0 0 300 300"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M210 128.25V170.5V225C210 241.569 196.569 255 180 255H71C54.4315 255 41 241.569 41 225V116C41 99.4315 54.4315 86 71 86H125.5H167.75"
                stroke="black"
                stroke-width="20"
              />
              <path
                d="M256.007 50C256.007 44.4772 251.53 40 246.007 40H156.007C150.484 40 146.007 44.4772 146.007 50C146.007 55.5228 150.484 60 156.007 60L236.007 60V140C236.007 145.523 240.484 150 246.007 150C251.53 150 256.007 145.523 256.007 140V50ZM181.071 129.078L253.078 57.0711L238.936 42.9289L166.929 114.936L181.071 129.078Z"
                fill="black"
              />
              <circle cx="174" cy="122" r="10" fill="black" />
            </svg>
          </a>
        </aside>
        <aside class="projectsAside">
          <img
            class="projectImgs"
            src="images/2020portfolio.png"
            aria-labelledby="2020-portfolio-label"
            aria-describedby="2020-portfolio-desc"
          />
          <h1 id="2020-portfolio-label">2020 Portfolio</h1>
          <a class="completed">
            <p>Completed</p>
          </a>
        </aside>
        <aside class="projectsAside">
          <img
            class="projectImgs"
            src="images/2022portfolio.png"
            aria-labelledby="2022-portfolio-label"
            aria-describedby="2022-portfolio-desc"
          />
          <h1 id="2022-portfolio-label">2022 Portfolio</h1>
          <a class="inProgress">
            <p>In Progress...</p>
          </a>
        </aside>
        <aside class="projectsAside">
          <img
            class="projectImgs"
            src="gifs/generativeFrameworks.gif"
            aria-labelledby="gf-label"
            aria-describedby="gf-desc"
          />
          <h1 id="gf-label">Generative Frameworks</h1>
          <a
            class="inProgress"
            href="https://www.instagram.com/generativeframeworks/"
            target="_blank"
          >
            <p>In Progress...</p>
            <svg
              width="25"
              height="25"
              viewBox="0 0 300 300"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M210 128.25V170.5V225C210 241.569 196.569 255 180 255H71C54.4315 255 41 241.569 41 225V116C41 99.4315 54.4315 86 71 86H125.5H167.75"
                stroke="black"
                stroke-width="20"
              />
              <path
                d="M256.007 50C256.007 44.4772 251.53 40 246.007 40H156.007C150.484 40 146.007 44.4772 146.007 50C146.007 55.5228 150.484 60 156.007 60L236.007 60V140C236.007 145.523 240.484 150 246.007 150C251.53 150 256.007 145.523 256.007 140V50ZM181.071 129.078L253.078 57.0711L238.936 42.9289L166.929 114.936L181.071 129.078Z"
                fill="black"
              />
              <circle cx="174" cy="122" r="10" fill="black" />
            </svg>
          </a>
        </aside>
      </article>
    </main>
    <!-- PROJECTS END -->
    <div class="seperatorContainer">
      <section class="seperator" id="resume"><h2>Resume</h2></section>
    </div>
    <!-- RESUME START -->
    <article class="bodyContainer">
      <embed
        src="content/Blaze_Smith_Resume.pdf"
        type="application/pdf"
        id="resumePDF"
      />
    </article>
    <!-- RESUME END -->
    <div class="seperatorContainer">
      <section class="seperator" id="contact"><h2>Contact</h2></section>
    </div>
    <!-- CONTACT START -->
    <article class="bodyContainer">
      <div class="contactContainer">
        <a
          class="contactBtn"
          id="emailBtn"
          href="mailto:blazewaynesmith@gmail.com"
        >
          <h4 id="emailCopy">Email Me</h4>
          <svg
            id="copyButton"
            width="35"
            height="35"
            viewBox="0 0 400 400"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="43"
              y="152"
              width="200"
              height="200"
              rx="30"
              stroke-width="20"
            />
            <path
              d="M265.5 244H331C347.569 244 361 230.569 361 214V74C361 57.4315 347.569 44 331 44H191C174.431 44 161 57.4315 161 74V127.5"
              stroke-width="20"
            />
          </svg>
        </a>
      </div>
    </article>
    <!-- CONTACT END -->
    <footer>
      <div class="socialMediaIconContainer">
        <h3><a href="#home">Blaze Smith</a></h3>
        <a
          href="https://www.linkedin.com/in/blazesmith/"
          target="_blank"
          class="socialMediaIcons"
        >
          <svg
            width="30"
            height="30"
            viewBox="0 0 400 400"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_4_2)">
              <rect
                x="50"
                y="49"
                fill="none"
                width="300"
                height="300"
                rx="78"
                stroke="black"
                stroke-width="30"
                stroke-linejoin="bevel"
              />
              <path
                d="M145.447 147.436C140.869 152.015 135.391 154.304 129.014 154.304C122.636 154.304 117.077 152.015 112.335 147.436C107.756 142.694 105.467 137.134 105.467 130.757C105.467 124.38 107.756 118.902 112.335 114.323C117.077 109.745 122.636 107.455 129.014 107.455C135.391 107.455 140.869 109.745 145.447 114.323C150.189 118.902 152.56 124.38 152.56 130.757C152.56 137.134 150.189 142.694 145.447 147.436ZM108.655 287V164.36H149.372V287H108.655ZM247.66 160.926C260.905 160.926 271.697 165.505 280.037 174.662C288.54 183.656 292.791 196.655 292.791 213.661V287H252.075V218.812C252.075 212.435 250.358 207.611 246.924 204.341C243.654 201.07 239.239 199.435 233.679 199.435C227.302 199.435 222.314 201.397 218.717 205.322C215.283 209.083 213.566 214.561 213.566 221.756V287H172.85V164.36H213.566V176.624C220.924 166.159 232.289 160.926 247.66 160.926Z"
                fill="black"
              />
            </g>
            <defs>
              <clipPath id="clip0_4_2">
                <rect width="400" height="400" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
        <a
          href="https://www.instagram.com/blaze.smt/"
          target="_blank"
          class="socialMediaIcons"
        >
          <svg
            width="30"
            height="30"
            viewBox="0 0 400 400"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="50"
              y="50"
              fill="none"
              width="300"
              height="300"
              rx="78"
              stroke="black"
              stroke-width="30"
              stroke-linejoin="bevel"
            />
            <circle
              cx="200"
              cy="200"
              fill="none"
              r="62.5"
              stroke="black"
              stroke-width="25"
            />
            <circle cx="290" cy="102" r="15" fill="black" />
          </svg>
        </a>
        <a
          href="https://twitter.com/blaze_zip"
          target="_blank"
          class="socialMediaIcons"
        >
          <svg
            width="30"
            height="30"
            viewBox="0 0 1100 1100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="path-1-outside-1_9_2"
              maskUnits="userSpaceOnUse"
              x="88"
              y="155"
              width="926"
              height="789"
              fill="black"
            >
              <rect fill="white" x="88" y="155" width="926" height="789" />
              <path
                d="M401.584 879C703.472 879 868.592 625.826 868.592 406.274C868.592 399.377 868.592 392.51 868.168 385.672C868.149 385.354 868.139 385.194 868.173 385.05C868.205 384.916 868.263 384.793 868.345 384.682C868.434 384.563 868.562 384.469 868.817 384.281C899.177 361.93 925.587 334.564 946.946 303.341C947.856 302.011 948.311 301.345 948.248 300.951C948.191 300.595 947.946 300.298 947.608 300.173C947.234 300.034 946.485 300.355 944.987 300.997C918.765 312.232 891.211 319.958 863.021 323.982C860.924 324.281 859.876 324.431 859.543 324.176C859.24 323.945 859.097 323.571 859.167 323.196C859.245 322.784 860.141 322.185 861.932 320.987C891.93 300.922 914.647 271.445 926.559 237.043C926.975 235.84 927.184 235.239 927.043 234.891C926.917 234.578 926.636 234.347 926.304 234.284C925.936 234.213 925.378 234.539 924.262 235.19C893.288 253.257 859.604 266.097 824.535 273.196C824.222 273.259 824.066 273.291 823.915 273.276C823.776 273.262 823.643 273.219 823.521 273.15C823.39 273.076 823.279 272.957 823.057 272.721C798.383 246.448 765.897 229.049 730.54 223.187C694.892 217.277 658.314 223.424 626.466 240.677C594.617 257.931 569.274 285.328 554.358 318.63C539.728 351.293 535.929 387.849 543.495 422.846C543.646 423.544 543.721 423.893 543.631 424.157C543.548 424.398 543.379 424.597 543.153 424.717C542.907 424.847 542.555 424.827 541.851 424.788C477.326 421.218 414.232 404.102 356.58 374.517C298.992 344.965 248.106 303.625 207.144 253.126C206.656 252.524 206.412 252.223 206.13 252.132C205.873 252.049 205.591 252.074 205.353 252.2C205.091 252.339 204.905 252.673 204.534 253.342C184.459 289.484 178.436 331.946 187.703 372.391C196.732 411.797 219.626 446.455 252.004 469.952C253.331 470.915 253.995 471.397 254.068 471.79C254.133 472.144 254.002 472.507 253.726 472.739C253.419 472.995 252.619 472.944 251.018 472.841C227.508 471.333 204.586 464.68 183.84 453.326C183.53 453.156 183.375 453.071 183.26 453.04C182.713 452.893 182.161 453.22 182.028 453.771C182 453.887 182 454.061 182 454.409C182.01 492.768 195.128 529.942 219.129 559.627C241.729 587.579 272.669 607.27 307.217 615.815C309.097 616.28 310.037 616.513 310.251 616.869C310.444 617.19 310.441 617.592 310.244 617.91C310.025 618.263 309.103 618.478 307.259 618.907C285.918 623.87 263.796 624.457 242.204 620.616C241.335 620.462 240.901 620.384 240.615 620.517C240.354 620.638 240.158 620.865 240.077 621.141C239.988 621.443 240.125 621.854 240.4 622.674C251.116 654.623 271.186 682.541 297.97 702.694C324.282 722.491 355.813 733.849 388.497 735.36C389.861 735.424 390.543 735.455 390.814 735.715C391.061 735.952 391.169 736.293 391.103 736.629C391.031 736.998 390.499 737.409 389.436 738.232C331.941 782.728 261.527 806.84 189.072 806.766C178.3 806.745 167.536 806.197 156.819 805.124C154.834 804.925 153.842 804.826 153.521 805.092C153.23 805.332 153.1 805.712 153.182 806.079C153.272 806.487 154.109 807.013 155.781 808.064C229.528 854.433 314.678 878.988 401.584 878.87"
              />
            </mask>
            <path
              d="M182 454.409L247 454.391L182 454.409ZM189.072 806.766L188.946 871.766L189.006 871.766L189.072 806.766ZM156.819 805.124L163.296 740.447L156.819 805.124ZM153.521 805.092L112.105 754.994L153.521 805.092ZM155.781 808.064L190.38 753.038L155.781 808.064ZM153.182 806.079L89.7323 820.192L153.182 806.079ZM388.497 735.36L391.499 670.43L388.497 735.36ZM390.814 735.715L435.832 688.828L390.814 735.715ZM389.436 738.232L429.218 789.636L389.436 738.232ZM391.103 736.629L327.314 724.141L391.103 736.629ZM242.204 620.616L253.586 556.621L242.204 620.616ZM240.615 620.517L213.238 561.564L240.615 620.517ZM240.4 622.674L302.027 602.005L240.4 622.674ZM240.077 621.141L177.739 602.73L240.077 621.141ZM307.217 615.815L291.611 678.914L307.217 615.815ZM310.251 616.869L365.985 583.422L310.251 616.869ZM307.259 618.907L292.534 555.597L307.259 618.907ZM310.244 617.91L365.506 652.131L310.244 617.91ZM207.144 253.126L257.625 212.179L207.144 253.126ZM206.13 252.132L226.152 190.293L206.13 252.132ZM205.353 252.2L235.807 309.624L205.353 252.2ZM543.495 422.846L479.962 436.58L543.495 422.846ZM543.631 424.157L482.13 403.118L543.631 424.157ZM541.851 424.788L538.261 489.689L541.851 424.788ZM543.153 424.717L573.584 482.153L543.153 424.717ZM824.535 273.196L837.432 336.904L824.535 273.196ZM823.915 273.276L817.417 337.95L823.915 273.276ZM823.057 272.721L870.439 228.224L823.057 272.721ZM823.521 273.15L855.644 216.642L823.521 273.15ZM926.559 237.043L987.981 258.311L926.559 237.043ZM927.043 234.891L987.306 210.531L927.043 234.891ZM924.262 235.19L891.511 179.044L924.262 235.19ZM926.304 234.284L938.544 170.447L926.304 234.284ZM183.84 453.326L215.047 396.307L183.84 453.326ZM183.26 453.04L166.356 515.804L183.26 453.04ZM182 454.409H247H182ZM182.028 453.771L245.201 469.075L182.028 453.771ZM863.021 323.982L872.206 388.33L863.021 323.982ZM859.543 324.176L899.03 272.545L859.543 324.176ZM861.932 320.987L825.794 266.959L861.932 320.987ZM859.167 323.196L795.296 311.139L859.167 323.196ZM252.004 469.952L290.181 417.345L252.004 469.952ZM254.068 471.79L190.148 483.59L254.068 471.79ZM251.018 472.841L255.179 407.974L251.018 472.841ZM253.726 472.739L295.421 522.603L253.726 472.739ZM946.946 303.341L893.298 266.642L946.946 303.341ZM948.248 300.951L1012.42 290.606L948.248 300.951ZM944.987 300.997L919.387 241.25L944.987 300.997ZM947.608 300.173L970.2 239.225L947.608 300.173ZM868.168 385.672L933.044 381.653L868.168 385.672ZM868.173 385.05L804.923 370.07L868.173 385.05ZM868.817 384.281L830.281 331.936L868.817 384.281ZM868.345 384.682L920.413 423.591L868.345 384.682ZM401.584 944C747.522 944 933.592 652.99 933.592 406.274H803.592C803.592 598.662 659.422 814 401.584 814V944ZM933.592 406.274C933.592 399.719 933.613 390.835 933.044 381.653L803.293 389.691C803.571 394.184 803.592 399.035 803.592 406.274H933.592ZM907.354 436.625C943.619 409.927 975.131 377.264 1000.59 340.041L893.298 266.642C876.044 291.864 854.734 313.934 830.281 331.936L907.354 436.625ZM919.387 241.25C898.403 250.241 876.368 256.418 853.837 259.634L872.206 388.33C906.055 383.498 939.128 374.223 970.587 360.743L919.387 241.25ZM898.07 375.015C939.921 347.022 971.467 306.003 987.981 258.311L865.137 215.774C857.827 236.886 843.939 254.822 825.794 266.959L898.07 375.015ZM891.511 179.044C866.678 193.529 839.7 203.808 811.639 209.488L837.432 336.904C879.509 328.386 919.897 312.986 957.012 291.336L891.511 179.044ZM870.439 228.224C836.067 191.624 790.696 167.273 741.171 159.062L719.909 287.312C741.097 290.824 760.699 301.271 775.675 317.218L870.439 228.224ZM741.171 159.062C691.232 150.783 640.023 159.408 595.504 183.525L657.427 297.83C676.605 287.441 698.552 283.771 719.909 287.312L741.171 159.062ZM595.504 183.525C550.999 207.635 515.743 245.83 495.037 292.06L613.679 345.2C622.805 324.826 638.235 308.227 657.427 297.83L595.504 183.525ZM495.037 292.06C474.732 337.392 469.476 388.072 479.962 436.58L607.027 409.112C602.383 387.627 604.725 365.193 613.679 345.2L495.037 292.06ZM545.442 359.888C490.034 356.822 435.824 342.123 386.257 316.687L326.904 432.347C392.64 466.08 464.619 485.615 538.261 489.689L545.442 359.888ZM386.257 316.687C336.74 291.277 292.928 255.702 257.625 212.179L156.663 294.074C203.283 351.548 261.243 398.652 326.904 432.347L386.257 316.687ZM147.711 221.78C119.831 271.975 111.502 330.852 124.345 386.907L251.062 357.874C245.371 333.039 249.088 306.993 261.357 284.904L147.711 221.78ZM124.345 386.907C136.862 441.536 168.641 489.767 213.827 522.559L290.181 417.345C270.611 403.143 256.603 382.058 251.062 357.874L124.345 386.907ZM255.179 407.974C241.171 407.076 227.478 403.11 215.047 396.307L152.634 510.345C181.694 526.249 213.846 535.59 246.857 537.708L255.179 407.974ZM117 454.426C117.014 507.575 135.185 559.186 168.583 600.494L269.675 518.76C255.072 500.699 247.006 477.96 247 454.391L117 454.426ZM168.583 600.494C200.045 639.407 243.228 666.947 291.611 678.914L322.823 552.716C302.11 547.593 283.413 535.752 269.675 518.76L168.583 600.494ZM292.534 555.597C279.752 558.569 266.512 558.92 253.586 556.621L230.821 684.612C261.081 689.994 292.084 689.171 321.984 682.217L292.534 555.597ZM178.774 643.342C193.637 687.66 221.52 726.516 258.89 754.634L337.051 650.755C320.851 638.565 308.594 621.586 302.027 602.005L178.774 643.342ZM258.89 754.634C295.609 782.262 339.705 798.173 385.494 800.291L391.499 670.43C371.922 669.524 352.954 662.721 337.051 650.755L258.89 754.634ZM349.654 686.828C303.503 722.544 247.091 741.826 189.138 741.766L189.006 871.766C275.963 871.855 360.379 842.911 429.218 789.636L349.654 686.828ZM189.198 741.766C180.548 741.75 171.903 741.309 163.296 740.447L150.341 869.8C163.168 871.085 176.052 871.741 188.946 871.766L189.198 741.766ZM121.182 863.091C205.275 915.965 302.443 944.004 401.672 943.87L401.496 813.87C326.912 813.971 253.781 792.902 190.38 753.038L121.182 863.091ZM163.296 740.447C162.92 740.41 162.052 740.322 161.196 740.247C160.414 740.178 158.655 740.029 156.538 739.964C154.821 739.911 150.172 739.802 144.405 740.653C139.689 741.349 125.66 743.789 112.105 754.994L194.937 855.189C181.542 866.262 167.758 868.614 163.381 869.26C157.952 870.061 153.735 869.939 152.554 869.903C150.281 869.833 148.291 869.595 150.341 869.8L163.296 740.447ZM190.38 753.038C188.636 751.941 190.379 752.991 192.238 754.349C193.208 755.058 196.629 757.568 200.436 761.561C203.547 764.824 212.882 775.111 216.631 791.967L89.7323 820.192C93.5267 837.251 103 847.757 106.346 851.266C110.387 855.505 114.139 858.289 115.538 859.311C117.258 860.568 118.746 861.536 119.406 861.963C120.129 862.43 120.868 862.893 121.182 863.091L190.38 753.038ZM112.105 754.994C92.989 770.798 84.3472 795.981 89.7323 820.192L216.631 791.967C221.853 815.442 213.472 839.866 194.937 855.189L112.105 754.994ZM385.494 800.291C387.386 800.379 384.677 800.307 381.762 799.931C380.057 799.712 375.663 799.093 370.243 797.312C364.792 795.521 355.096 791.531 345.797 782.603L435.832 688.828C418.841 672.514 398.604 671.027 398.37 670.997C396.043 670.697 394.14 670.575 393.362 670.527C392.521 670.476 391.696 670.439 391.499 670.43L385.494 800.291ZM429.218 789.636C429.367 789.521 430.024 789.014 430.687 788.485C431.3 787.996 432.801 786.789 434.55 785.187C434.9 784.867 450.396 772.085 454.892 749.117L327.314 724.141C329.76 711.646 335.292 702.864 338.757 698.193C342.179 693.581 345.437 690.52 346.733 689.333C348.938 687.313 351.155 685.666 349.654 686.828L429.218 789.636ZM345.797 782.603C330.096 767.528 323.132 745.501 327.314 724.141L454.892 749.117C459.206 727.085 452.026 704.376 435.832 688.828L345.797 782.603ZM253.586 556.621C253.527 556.61 252.756 556.471 251.943 556.341C251.164 556.215 249.246 555.915 246.831 555.704C243.331 555.399 229.15 554.175 213.238 561.564L267.992 679.471C252.366 686.727 238.545 685.475 235.55 685.214C232.222 684.924 229.16 684.316 230.821 684.612L253.586 556.621ZM302.027 602.005C301.488 600.399 302.56 603.395 303.346 606.709C304.094 609.86 307.243 623.204 302.415 639.552L177.739 602.73C172.821 619.381 175.995 633.081 176.857 636.718C177.425 639.109 178.011 640.987 178.253 641.749C178.504 642.543 178.757 643.292 178.774 643.342L302.027 602.005ZM213.238 561.564C196.041 569.55 183.109 584.546 177.739 602.73L302.415 639.552C297.207 657.185 284.667 671.727 267.992 679.471L213.238 561.564ZM291.611 678.914C293.602 679.406 291.573 678.946 289.341 678.224C288.168 677.844 284.109 676.519 279.221 673.896C275.14 671.707 263.271 664.904 254.517 650.316L365.985 583.422C357.124 568.656 345.057 561.69 340.681 559.342C335.498 556.561 331.047 555.083 329.377 554.542C327.335 553.881 325.609 553.425 324.849 553.227C324.017 553.011 323.173 552.803 322.823 552.716L291.611 678.914ZM321.984 682.217C322.322 682.138 323.169 681.942 324.007 681.736C324.771 681.548 326.526 681.111 328.607 680.465C330.322 679.934 334.839 678.492 340.108 675.732C344.677 673.339 356.583 666.541 365.506 652.131L254.982 583.689C263.795 569.456 275.504 562.817 279.781 560.577C284.758 557.97 288.888 556.675 290.115 556.295C292.423 555.579 294.531 555.132 292.534 555.597L321.984 682.217ZM254.517 650.316C242.188 629.771 242.367 604.06 254.982 583.689L365.506 652.131C378.515 631.123 378.7 604.609 365.985 583.422L254.517 650.316ZM257.625 212.179C257.604 212.154 257.122 211.556 256.6 210.935C256.094 210.331 254.853 208.865 253.177 207.141C250.366 204.248 241.295 195.196 226.152 190.293L186.107 313.971C171.246 309.159 162.438 300.303 159.941 297.734C157.587 295.31 155.646 292.819 156.663 294.074L257.625 212.179ZM261.357 284.904C262.143 283.488 260.647 286.313 258.723 289.14C256.631 292.214 249.508 302.358 235.807 309.624L174.899 194.776C160.937 202.18 153.589 212.562 151.246 216.005C149.882 218.01 148.906 219.682 148.507 220.371C148.098 221.08 147.724 221.756 147.711 221.78L261.357 284.904ZM226.152 190.293C209.166 184.793 190.672 186.41 174.899 194.776L235.807 309.624C220.51 317.737 202.581 319.305 186.107 313.971L226.152 190.293ZM479.962 436.58C480.284 438.071 479.588 435.117 479.176 431.895C478.727 428.371 477.427 416.866 482.13 403.118L605.132 445.195C609.925 431.184 608.633 419.373 608.13 415.434C607.839 413.155 607.488 411.355 607.34 410.612C607.189 409.851 607.032 409.135 607.027 409.112L479.962 436.58ZM538.261 489.689C538.28 489.69 539.016 489.733 539.798 489.763C540.563 489.793 542.412 489.857 544.729 489.783C548.822 489.654 560.596 489.034 573.584 482.153L512.722 367.28C525.464 360.529 536.94 359.965 540.619 359.848C543.906 359.744 546.97 359.972 545.442 359.888L538.261 489.689ZM482.13 403.118C487.398 387.718 498.339 374.901 512.722 367.28L573.584 482.153C588.419 474.293 599.699 461.079 605.132 445.195L482.13 403.118ZM811.639 209.488C810.782 209.662 812.758 209.237 814.913 208.927C817.78 208.515 823.382 207.895 830.413 208.601L817.417 337.95C824.599 338.672 830.354 338.044 833.415 337.604C834.862 337.396 836.004 337.182 836.508 337.086C836.795 337.031 837.03 336.984 837.164 336.958C837.292 336.932 837.411 336.908 837.432 336.904L811.639 209.488ZM775.675 317.218C775.691 317.235 775.773 317.323 775.862 317.417C775.956 317.516 776.118 317.688 776.318 317.896C776.669 318.262 777.469 319.089 778.518 320.087C780.713 322.175 785.064 326.057 791.398 329.658L855.644 216.642C861.847 220.169 866.077 223.954 868.128 225.905C869.686 227.388 871.035 228.859 870.439 228.224L775.675 317.218ZM830.413 208.601C839.292 209.494 847.887 212.233 855.644 216.642L791.398 329.658C799.399 334.206 808.261 337.03 817.417 337.95L830.413 208.601ZM987.981 258.311C988.035 258.156 988.311 257.362 988.581 256.54C988.833 255.776 989.448 253.883 990.047 251.499C990.362 250.248 995.861 231.695 987.306 210.531L866.781 259.252C862.221 247.973 861.863 237.972 862.168 231.928C862.463 226.077 863.512 221.627 863.973 219.794C864.745 216.724 865.762 213.97 865.137 215.774L987.981 258.311ZM957.012 291.336C958.658 290.376 956.197 291.879 953.383 293.212C951.711 294.004 947.58 295.888 941.936 297.317C936.135 298.785 926.165 300.441 914.064 298.121L938.544 170.447C915.973 166.119 898.698 175.268 897.743 175.721C895.546 176.761 893.825 177.722 893.13 178.113C892.381 178.534 891.658 178.958 891.511 179.044L957.012 291.336ZM987.306 210.531C978.91 189.761 960.546 174.665 938.544 170.447L914.064 298.121C892.726 294.03 874.924 279.395 866.781 259.252L987.306 210.531ZM215.047 396.307C215.023 396.294 214.755 396.147 214.473 395.995C214.199 395.847 213.545 395.496 212.719 395.08C211.703 394.568 206.83 392.072 200.164 390.277L166.356 515.804C162.801 514.846 159.981 513.759 158.151 512.989C156.337 512.226 154.944 511.539 154.236 511.182C153.101 510.611 152.069 510.036 152.634 510.345L215.047 396.307ZM247 454.409C247 453.763 247.009 454.962 246.965 456.251C246.937 457.058 246.868 458.618 246.664 460.584C246.457 462.575 246.057 465.542 245.201 469.075L118.855 438.466C117.242 445.126 117.084 450.551 117.042 451.754C117.01 452.688 117.004 453.438 117.002 453.753C117 454.076 117 454.384 117 454.409H247ZM200.164 390.277C164.33 380.626 127.593 402.399 118.855 438.466L245.201 469.075C236.73 504.042 201.097 525.161 166.356 515.804L200.164 390.277ZM853.837 259.634C851.778 259.928 853.591 259.634 855.7 259.473C856.766 259.393 860.851 259.083 866.166 259.595C868.985 259.867 873.416 260.48 878.663 262.08C883.911 263.681 891.379 266.694 899.03 272.545L820.055 375.807C834.626 386.951 849.431 388.585 853.698 388.996C859.369 389.542 863.909 389.224 865.541 389.1C868.782 388.854 872.168 388.335 872.206 388.33L853.837 259.634ZM825.794 266.959C825.734 266.999 822.891 268.859 820.338 270.818C819.06 271.798 815.495 274.565 811.662 278.71C808.865 281.734 798.737 292.909 795.296 311.139L923.039 335.254C921.225 344.866 917.596 352.168 914.75 356.842C911.897 361.527 909 364.926 907.099 366.981C903.511 370.86 900.297 373.325 899.477 373.954C897.839 375.211 896.338 376.173 898.07 375.015L825.794 266.959ZM899.03 272.545C918.234 287.232 927.524 311.497 923.039 335.254L795.296 311.139C790.669 335.644 800.246 360.657 820.055 375.807L899.03 272.545ZM213.827 522.559C215.431 523.723 213.434 522.333 211.395 520.598C210.258 519.631 206.906 516.74 203.313 512.286C199.921 508.082 192.865 498.309 190.148 483.59L317.987 459.99C315.234 445.074 308.068 435.093 304.49 430.658C300.71 425.974 297.096 422.828 295.618 421.571C293.891 420.102 292.402 418.983 291.775 418.515C291.091 418.004 290.403 417.506 290.181 417.345L213.827 522.559ZM246.857 537.708C247.119 537.724 247.969 537.78 248.827 537.823C249.614 537.863 251.5 537.951 253.803 537.917C255.787 537.889 260.624 537.76 266.576 536.527C272.301 535.342 283.98 532.17 295.421 522.603L212.03 422.874C223.318 413.435 234.782 410.353 240.221 409.227C245.886 408.054 250.365 407.954 251.911 407.931C254.661 407.891 257.16 408.101 255.179 407.974L246.857 537.708ZM190.148 483.59C185.956 460.886 194.318 437.684 212.03 422.874L295.421 522.603C313.686 507.33 322.31 483.403 317.987 459.99L190.148 483.59ZM1000.59 340.041C1000.74 339.822 1001.23 339.12 1001.7 338.407C1002.13 337.752 1003.17 336.183 1004.31 334.197C1005.29 332.488 1007.65 328.281 1009.63 322.558C1011.52 317.078 1014.8 305.387 1012.42 290.606L884.076 311.296C881.725 296.713 884.972 285.253 886.772 280.05C888.657 274.604 890.851 270.72 891.614 269.393C892.974 267.029 894.417 265.006 893.298 266.642L1000.59 340.041ZM970.587 360.743C972.408 359.963 970.176 360.971 967.626 361.838C966.202 362.322 961.992 363.718 956.316 364.517C950.936 365.275 938.981 366.297 925.016 361.12L970.2 239.225C956.048 233.979 943.859 234.989 938.187 235.788C932.218 236.628 927.657 238.119 925.811 238.746C923.658 239.478 921.93 240.184 921.206 240.482C920.416 240.808 919.636 241.144 919.387 241.25L970.587 360.743ZM1012.42 290.606C1008.63 267.122 992.504 247.493 970.2 239.225L925.016 361.12C903.388 353.103 887.748 334.068 884.076 311.296L1012.42 290.606ZM933.044 381.653C932.991 380.8 933.135 382.751 933.149 384.859C933.168 387.626 933.04 393.203 931.423 400.031L804.923 370.07C803.272 377.042 803.132 382.77 803.152 385.733C803.162 387.152 803.215 388.28 803.241 388.776C803.255 389.058 803.269 389.29 803.276 389.423C803.284 389.55 803.291 389.669 803.293 389.691L933.044 381.653ZM830.281 331.936C830.263 331.949 830.168 332.02 830.065 332.095C829.958 332.175 829.771 332.314 829.544 332.484C829.146 332.785 828.244 333.468 827.146 334.374C824.847 336.272 820.554 340.049 816.277 345.773L920.413 423.591C916.225 429.196 912.04 432.867 909.891 434.641C908.259 435.987 906.665 437.133 907.354 436.625L830.281 331.936ZM931.423 400.031C929.405 408.554 925.656 416.575 920.413 423.591L816.277 345.773C810.869 353.01 807.005 361.278 804.923 370.07L931.423 400.031Z"
              fill="black"
              mask="url(#path-1-outside-1_9_2)"
            />
          </svg>
        </a>
      </div>
    </footer>
  </body>
  <!-- BODY END -->
  <!-- </html> -->

  <!-- rename classes and ids  -->
  <!-- make skill bubbles smaller on mobile -->
  <!-- add express js and git for skills -->
  <!-- take out text on projects -->
  <!-- add blog page  -->
  <!-- light source on top left of page -->
  <!-- Change home text to mention what I can do not that im still obtaining a degree -->
  <!-- make hamburger nav animation -->
  <!--add updated resume -->
  <!-- fix resume for ios -->
  <!-- social icons change to white on hover -->
  <!-- doesnt work on safari -->
</html>
