<div class="seperatorContainer">
    <section class="seperator" id="skills"><h2>Skills</h2></section>
  </div>
  <!-- SKILLS START -->
  <div class="bodyContainer">
    <main class="skillsMain">
      <figure class="skills">
        <img src="assets/images/skills/html.svg" alt="HTML 5" />
        <figcaption class="skills-caption">HTML 5</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/css.svg" alt="CSS" />
        <figcaption class="skills-caption">CSS</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/js.svg" alt="JavaScript" />
        <figcaption class="skills-caption">JavaScript</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/nodeJS.svg" alt="NodeJS" />
        <figcaption class="skills-caption">NodeJS</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/mySQL.svg" alt="MySQL" />
        <figcaption class="skills-caption">MySQL</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/git.svg" alt="git" />
        <figcaption class="skills-caption">Git</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/bootstrap.svg" alt="Bootstrap" />
        <figcaption class="skills-caption">Bootstrap</figcaption>
      </figure>
      <figure class="skills">
        <img src="assets/images/skills/cSharp.svg" alt="C Sharp" />
        <figcaption class="skills-caption">C#</figcaption>
      </figure>
    </main>
  </div>
  <!-- SKILLS END -->
