main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

article h1::after {
    content: " | "
}

article h1, article p {
    padding: 0.5rem;
}