<!-- HOME START -->
<main class="bodyContainer" id="home">
    <article class="homeMain">
      <article class="homeArticle1">
        <p>Hello! I'm <strong>Blaze</strong></p>
      </article>
      <aside class="home-img-container">
        <img
          src="assets/images/homePic.png"
          alt=""
          aria-describedby="home-description"
        />
      </aside>
      <article class="homeArticle2">
        <p id="home-description">
          I currently am obtaining my degree in <br />
          <strong>Web Design</strong> at
          <strong id="ntc-text">Northcentral Technical College</strong>
        </p>
      </article>
      <div class="break"></div>
      <div class="homeButtonContainer">
        <a class="contactBtn" href="#contact">
          <p>Contact Me</p>
        </a>
      </div>
    </article>
  </main>
  <!-- HOME END -->